body{
    color: white;
    background-color: #1a1a1a;
}

.center-img {
    display: block;
    margin: 0 auto;
    height: 150px;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: white;
}

a:visited {
color:#ffffff;
    background-color:red;
}

a:hover {
text-decoration:underline;
    background-color:#fafafa;
    color:gray;
}

a:active {
text-decoration:none;
    background-color:gray;
    color:#fafafa;
}